## DATA STRUCTURES IN PYTHON

####  Topic 1; List

##### Exercise
##### Q1. Create a list of 5 random numbers and print the list.
##### Q2. Insert 3 new values to the list and print the updated list.
##### Q3. Try to use a for loop to print each element in the list.

In [15]:
import random
#create a list 5 random numbers and print the list
random_numbers = [random.randint(1,100) for _ in range(5)]
print("original list:",random_numbers)

original list: [77, 44, 12, 28, 29]

In [19]:
#Adding 3 new random values
random_numbers.append(random.randint(1,100))
random_numbers.append(random.randint(1,100))
random_numbers.append(random.randint(1,100))

print("updated list:",random_numbers)

updated list: [77, 44, 12, 28, 29, 19, 99, 89]

In [21]:
#printing each element using a for loop
print("Elements in the list:")
for number in random_numbers:
    print(number)

Elements in the list:
77
44
12
28
29
19
99
89

### Topic2: Dictionary

#### Exercise
##### Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively. 
##### Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [26]:
# creating a dictionary
person = {
    'name': 'John',
    'age': 25,
    'address':'New York'
}

print("Dictionary:",person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

In [28]:
person.update({'phone':'1234567890'})
print("Updated Dictionary:",person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

### Topic3:Set

#### Exercise
##### Q1.Create a set with values 1, 2, 3, 4, and 5.
##### Q2. Add the value 6 to the set created in Q1. 
##### Q3. Remove the value 3 from the set created in Q1.

In [33]:
#creating set
numbers = {1,2,3,4,5}
print ("Orginal numbers is :",numbers)

Orignal numbers is : {1, 2, 3, 4, 5}

In [35]:
numbers.add(6)
print("Orginal numbers after adding:",numbers)

Orignal numbers after adding: {1, 2, 3, 4, 5, 6}

In [37]:
numbers.remove(3)
print("Orginal numbers after removing:",numbers)

Orginal numbers after removing: {1, 2, 4, 5, 6}

#### Topic4:Tuple

#### Excerise
#####  Q1. Create a tuple with values 1, 2, 3, and 4 
#####  Q2. Print the length of the tuple created in Q1

In [42]:
#creating tuple
numbers =(1,2,3,4)

print("Tuple:",numbers)

Tuple: (1, 2, 3, 4)

In [44]:
#print the lenght of the tuple
print("Length of the Tuple is:",len(numbers))

Length of the Tuple is: 4